
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1461646736'); /* IE9*/
  src: url('iconfont.eot?t=1461646736#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1461646736') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1461646736') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1461646736#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yonghu:before { content: "\e608"; }
.icon-triangle-copy-copy-copy:before { content: "\e60a"; }
.icon-youjiantou-copy:before { content: "\e601"; }
.icon-shizhong:before { content: "\e655"; }
.icon-xinshixin:before { content: "\e6b7"; }
.icon-e634:before { content: "\e611"; }
.icon-dianhua:before { content: "\e6af"; }
.icon-dingwei:before { content: "\f0039"; }
.icon-youjian:before { content: "\e62b"; }
.icon-QQ:before { content: "\e607"; }
.icon-weixin:before { content: "\3433"; }
.icon-iconfontweibowukuang:before { content: "\e661"; }
.icon-jiantou:before { content: "\e677"; }
.icon-jiantou1:before { content: "\e643"; }
